#home1
    .first
        .inner.mstat
            h1!=h1_head
            p!=h1_desc
        img.h1-left1(src="images/svg/h1-left1.svg")
        img.h1-left2(src="images/svg/h1-left2.svg")
    .second
        .main-img
            img.h1-pirple(src="images/svg/h1_pirple.svg")
            img.h1-main(src="images/svg/h1_main.svg")
            img.h1-botyel(src="images/svg/h1_botyel.svg")