#menu-mobile
    .inner
        .th-close
            #icon-cl
                img(src="images/svg/h1_pirple.svg")
        nav
            include nav-ul.pug
        a(class='btn')= text_contact
        .contacts
            include contacts.pug