ul.socials.m100.mcenter
    li.vk
        a(href="#" title="VK") 
    li.fb(title="FB")
        a(href="#")
    li.be(title="BE")
        a(href="#")
    li.github(title="GIT")
        a(href="#")
    li.telegram(title="TG")
        a(href="#")