#mobile-menu {
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffffff;
  text-align: center; }
  #mobile-menu nav {
    width: 100%;
    color: #FC2672; }
    #mobile-menu nav ul {
      display: table;
      width: 100%; }
      #mobile-menu nav ul li {
        text-align: center;
        width: 100%; }
